# Visual Studio 核心忽略
.vs/
*.sln
*.suo
*.user
*.userosscache
*.userprefs
*.vcxproj.user
*.sdf
*.opendb
*.ipch
*.db
*.log
*.idb
*.lastbuildstate
*.unsuccessfulbuild
vc143.*
*.tlog
*.recipe
*.iobj
*.ipdb
*.exp
*.resources
*.bsc
BuildLog/
x64/
x86/
Debug/
Release/
x64/Debug/
x64/Release/
x86/Debug/
x86/Release/

# C/C++ 编译产物
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo

# 系统垃圾
.DS_Store
Thumbs.db