# ###########################################################################
# Visual Studio 专用屏蔽（你最需要的部分）
# ###########################################################################
.vs/
*.sln
*.suo
*.user
*.userosscache
*.userprefs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.opendb
*.ipch
*.db
*.log

# ###########################################################################
# C/C++ 编译产物屏蔽
# ###########################################################################
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo

# ###########################################################################
# 其他垃圾
# ###########################################################################
.DS_Store
Thumbs.db
