# Visual Studio
.vs/
*.sln
*.suo
*.user
*.userosscache
*.userprefs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.opendb
*.ipch
*.db
*.log
*.idb
*.lastbuildstate
*.unsuccessfulbuild
vc143.*

# C/C++ Build
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo

# Other
.DS_Store
Thumbs.db